<div class="todo mt-4">
    <h3><b> New Todo</b></h3>
    <form class="form-inline">
        <div class="form-group mr-2" *ngIf="!updateMode">
            <input type="text"
                class="form-control"
                [(ngModel)]="title"
                name="todoTitle"
            />
        </div>
        <div class="form-group" *ngIf="!updateMode">
            <button class="btn btn-primary" (click)="onAddTodo();">Add</button>
        </div>
        <div class="form-group mr-2" *ngIf="updateMode">
            <input type="text"
                class="form-control"
                [(ngModel)]="todo.title"
                name='title'
            />
        </div>
        <div class="form-group" *ngIf="updateMode">
            <button class="btn btn-warning" (click)="onUpdateTodo()">Update</button>
        
        </div>
    </form>
    <ul class="list-group" *ngIf="todos">
        <li
          class="list-group-item d-flex justify-content-between align-items-center listItem mt-2"
          *ngFor="let todo of todos"
        >
        
          {{ todo.title }}
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              class="btn btn-danger bt-sm"
              name="delete todo"
              (click)="onDeleteTodo(todo)"
              [disabled]="updateMode"            
            >
              Delete
            </button>
            <button
              class="btn btn-warning mr-1 bt-sm"
              name="delete todo"
              (click)="updatePressed(todo)"
              [disabled]="updateMode"
            >
            Update
          </button>
          </div>
        </li>
      </ul>
    
</div>
